@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
}

/* Body */

body {
    font-family: "Roboto";
    /* background-color: aliceblue; */
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'sidebar main main'
    'footer footer footer';
    min-height: 100vh;
}

/* Grid Areas */

.header {
    grid-area: header;

}

.main {
    grid-area: main;

}

.sidebar {
    grid-area: sidebar;

}

.footer {
    grid-area: footer;

}

.box {
    border: 1px solid black;
    margin: 10px;
}

/* Header */

div .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 1, 130);
    padding: 15px;
    color: rgb(255, 255, 255)
}

/* Main */

.container-main {
    display: grid;
    grid-template-columns: auto auto auto;
}


.grid-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px solid black;
}

.grid-item h3 {
    font-weight: 300;
}

.buy-button {
    background-color: rgb(80, 1, 216);
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16px;
    border: none;
    padding: 0.3rem;
    border-radius: 8px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: rgb(3, 38, 134);
}

.buy-button:active {
    transform: scale(0,95);
}

.grid-item img {
    height: 300px;
    width: 300px;
}

/* Sidebar */

.sidebar {
    /* background-color: rgb(75, 0, 130, 0.5) ; */
    width: 100%;

}


.sidebar-item {
    display: flex;
    align-items: center;
    /* gap: 10px; */

}

.sidebar-batch {
    display: flex;
}

.title-sidebar {
    text-align: center;
}
    

footer {
    background-color: rgb(76, 1, 130);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}


